#add-prodimg {
  height: 7vh;
  margin: -3.5vh 0vw 0vh 1vw;
}

#addproduct-form {
  height: 72vh;
  width: 165vh;
  margin: 2vh 0vw 0vh 7vh;
  background-color: #2c2827;
  border-radius: 3vh;
}

#name-img {
  margin: 4vh 0vw 0vh 2vw;
  height: 4vh;
}

#name-input {
  width: 65vw;
  height: 4.5vh;
  background-color: #ffffff;
  border-radius: 3vh;
  margin: -4.5vh 0vw 0vh 10vw;
}

#code-img {
  height: 4vh;
  margin: 3vh 0vw 0vh 2vw;
}

#code-input {
  height: 4.5vh;
  background-color: #ffffff;
  border-radius: 3vh;
  margin: -4vh 0vw 0vh 10vw;
  width: 42.5vw;
}

#desc-img {
  height: 4vh;
  margin: 3vh 0vw 0vh 2vw;
}

#desc-input {
  background-color: #ffffff;
  border-radius: 3vh;
  height: 30vh;
  margin: 2vh 0vw 0vh 2.5vw;
  width: 50vw;
  display: block;
  padding: 2vh 1vw 2vh 1vw;
}

#photo-div {
  height: 36vh;
  width: 20vw;
  margin: -47.5vh 0vw 0vh 55vw;
  border-radius: 4vh;
}

#photo-img {
  height: 4vh;
  margin: 2vh 0vw 0vh 2vw;
}

#photo1 {
  height: 18vh;
  margin: 1vh 0vw 0vh 6vw;
}

#size1-img {
  height: 5.5vh;
  margin: 2vh 0vw 0vh 3vw;
}

#size1-input {
  background-color: #ffffff;
  height: 4vh;
  width: 15vw;
  border-radius: 3vh;
  margin: -4.8vh 0vw 0vh 15vw;
}

#size2-img {
  height: 5vh;
  margin: -8vh 0vw 0vh 33vw;
}

#size2-input {
  height: 4vh;
  width: 15vw;
  background-color: #ffffff;
  border-radius: 3vh;
  margin: -7.5vh 0vw 0vh 37.5vw;
}

#photo-btn {
  background-color: #03c2fe;
  border-color: #03c2fe;
  color: #050505;
  height: 5vh;
  border-radius: 2vh;
  margin: 2vh 0vw 0vh 6.5vw;
}

#confirm-btn {
  border-color: #03c2fe;
  border-radius: 2vh;
  margin: 0vh 0vw 0vh 59vw;
  color: #03c2fe;
  height: 5vh;
  width: 6vw;
}

#clear-btn {
  border-color: #03c2fe;
  border-radius: 2vh;
  color: #03c2fe;
  margin: 0vh 0vw 0vh 2vw;
  height: 5vh;
  width: 6vw;
}

#back-icon {
  color: #fbde46;
  font-size: 5vh;
  margin: 5vh 0vw 0vh 5vw;
}

#desc_div {
  background: inherit;
}

