body {
  overflow-x: hidden;
}

/* width */

::-webkit-scrollbar {
  width: 10px;
  margin-right: 10px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #353231;
  border-radius: 8px;
}

::-webkit-scrollbar-thumb {
  background: #FDA765;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #fda765bb;
}

.page-content-wrapper {
  /*background: #353231;*/
  /*display: inline-block;*/
  /*position: static;*/
  /*margin-top: 60px;*/
  /*overflow-x: hidden;*/
  /*margin-bottom: -10px;*/
}

.order-list-panel {
  background: transparent;
  width: 300px;
  direction: left;
  right: 5;
  padding: 10px;
  overflow-y: hidden;
  overflow-x: hidden;
}

.order-list-panel div.order-summary {
  background-color: beige;
  width: 100%;
  height: auto;
  margin-top: 5px;
  margin-bottom: 20px;
  display: block;
  background: #2C2827;
  border-radius: 23px;
  display: block;
}

.order-summary #label {
  display: inline-block;
  position: static;
  width: 90%;
  height: 37px;
  margin-left: 5%;
  margin-top: 20px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 34px;
  text-align: center;
  color: #FFFFFF;
}

.order-list-panel .order-toggle {
  background-color: #2C2827;
  border-radius: 25px;
  width: 45px;
  height: 45px;
  /*visibility: hidden;*/
  border-style: 1px solid;
  display: flex;
  align-items: center;
  margin-left: calc(100% - 45px);
  justify-content: center;
}

.order-list-panel #icon-order {
  width: 25px;
  height: 25px;
  /*visibility: hidden;*/
}

.order-summary .order-info {
  padding: 20px;
}

.order-summary label {
  width: 14%;
  height: 28px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 25px;
  color: #FDA765;
  margin-bottom: 8px;
}

.order-summary input {
  background: #FFFFFF;
  border: 2px solid #FFFFFF;
  box-sizing: border-box;
  border-radius: 15px;
  margin-bottom: 8px;
  margin-left: 10px;
  width: 80%;
  height: 20px;
  padding: 12px 20px;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 10px;
  color: #2C2827;
}

.order-summary .order-details {
  background-color: transparent;
  width: 100%;
  margin-left: auto;
  height: 400px;
  left: 0px;
  padding: 0;
}

.order-details span#label {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 31px;
  color: #FEE146;
  width: 100%;
  height: 19.72px;
  top: 0px;
  display: flex;
  justify-content: left;
  margin-left: 15px;
}

.order-details div.order-list {
  margin: 3%;
  margin-top: 20px;
  background-color: transparent;
  width: 94%;
  height: 85%;
  overflow-x: hidden;
  overflow-y: scroll;
  scrollbar-width: 5px;
}

.order-details div.order-list ::-webkit-scrollbar {
  margin-right: 10px;
}

.order-list div {
  height: 700px;
}

.order-details div.order-list::-webkit-scrollbar-track {
  box-shadow: inset 0 0 2px #353231;
  border-radius: 8px;
}

.order-details div.order-list::-webkit-scrollbar-thumb {
  background: white;
  border-radius: 10px;
}

.order-details div.order-list::-webkit-scrollbar-thumb:hover {
  background: #fee176;
}

.total {
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.total label {
  font-family: 'Oxanium', sans-serif;
  font-size: 17px;
  margin-right: 15px;
  margin-top: 4%;
}

.total input {
  width: 182px;
  text-align: right;
  margin-top: 4%;
}

.order-list-panel button#add-order {
  background: #FEE146;
  border-radius: 15px;
  width: 64%;
  height: 40px;
  margin-left: 18%;
  margin-top: 8%;
  margin-bottom: 5%;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: bold;
  line-height: 25px;
  letter-spacing: 0em;
  text-align: center;
}

.menu-panel {
  height: 9%;
  background-color: transparent;
  width: calc(98% - 300px);
}

@media (max-width: 767px) {
  .order-list-panel {
    width: 80px;
    background-color: transparent;
  }
}

@media (max-width: 767px) {
  .order-list-panel div.order-summary {
    width: 0px;
    visibility: hidden;
  }
}

@media (max-width: 767px) {
  .order-list-panel .order-toggle, .order-list-panel #icon-order {
    visibility: visible;
  }
}

@media (max-width: 767px) {
  .order-list-panel .order-toggle {
    margin-left: 5px;
    width: 45px;
  }
}

@media (max-width: 767px) {
  .menu-panel {
    width: calc(100% - 85px);
  }
}

@media (min-width:575px) and (max-width:991px) {
  .page-content-wrapper {
    margin-left: 90px;
    width: calc(100vw - 90px);
    overflow-x: hidden;
  }
}

@media (max-width:574px) {
  .page-content-wrapper {
    margin-left: 70px;
    width: calc(100vw - 70px);
  }
}

